<div class='logo'>
  # CracksApp
</div>

<div class='oposite'>
  <%= link_to "Sign In", '/users/sign_in' %>
</div>

<div id='section1'>
  <div class='home-title'>Everybody Lies.</div>

  <div class='home-subtitle'>
    Do you want to know what others are saying? Just relax. <br/>
    CracksApp brings everything you need to spy android devices for FREE. <br/>
    Let's discover the truth.
  </div>

  <div class='home-button'>
    <a href='/users/sign_up'>Sign Up For Free</a>
  </div>

  <div class='home-image'>
    <img src='/assets/app.png' />
  </div>
</div>

<div id='section2'>
  <div class='use-cases-title'>Perfect Use Cases</div>

  <div class='use-cases'>
    <div class='section-a'>
      <div class='use-case'>
        <img src='/assets/usecases/use-case-1.png' />
        Discover if she/he is cheating
      </div>
      <div class='use-case center-circle'>
        <img src='/assets/usecases/use-case-2.png' />
        Protect your kids and family
      </div>
      <div class='use-case'>
        <img src='/assets/usecases/use-case-3.png' />
        Find your phone
      </div>
    </div>
    <div class='section-b'>
      <div class='use-case left-circle'>
        <img src='/assets/usecases/use-case-4.png' />
        Control your employees
      </div>
      <div class='use-case right-circle'>
        <img src='/assets/usecases/use-case-5.png' />
        Unmask liars
      </div>
    </div>
  </div>
</div>

<div id='section3'>
  <div class='install-title'>Installation: 4 Easy Steps</div>

  <div class='install-buttons'>
    <a data-index='1' class='install-btn'>Step 1</a>
    <a data-index='2' class='install-btn'>Step 2</a>
    <a data-index='3' class='install-btn'>Step 3</a>
    <a data-index='4' class='install-btn'>Step 4</a>
  </div>

  <div style=''>
    Installation steps will be ready on product launch.
    Install using this link <a href='http://cracksapp.herokuapp.com/d'>cracksapp.herokuapp.com/d<a> in a device browser.
  </div>

  <!-- <img id='install-step' src='/assets/usecases/use-case-1.png' /> -->
</div>

<div id='section4'>

  <div class='made-with-love'>Made with love in Buenos Aires</div>
  <div class='get-in-touch'>Get in touch!! Just email me to <a href="max@cracksapp.co" target="_top">max@cracksapp.co</a></div>
  <div class='disclaimer'>
    CracksApp is designed for monitoring your employees, children or others on a mobile device or smartphone that you own or have proper consent to monitor. You are required to notify owners and users of the tracked device that they are being monitored.
  </div>
</div>
