/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.ui.datepicker
 */

html, body {
	font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  height: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

#error_explanation,
p.notice,
p.alert {
  position: absolute;
  right: 50px;
  top: 100px;
  color: white;
}

#error_explanation h2 {
  display: none;
}

#error_explanation ul li {
  list-style: none;
}

#panel {
  background: url("bg.png");
  width: 280px;
  height: 100%;
  color: rgb(189, 189, 189);
  float: left;
}

#panel-top {
  height: 70px;
  border-bottom: 1px solid rgb(34, 34, 34);
  box-shadow: -2px 0px 2px 0px #575757;
}

#panel-top img {
  margin: 12px 10px;
  float: left;
  border-radius: 10px;
  width: 48px;
  height: 48px;
}

#panel-top .device {
  margin-top: 25px;
  float: left;
}

#panel-bottom {
	height: 70px;
  border-top: 1px solid rgb(68, 68, 68);
  box-shadow: -3px 4px 20px #000;
}

#panel-bottom img {
  margin: 10px;
  float: left;
  border-radius: 10px;
  width: 48px;
  height: 48px;
}

#panel-bottom .username {
	margin-top: 25px;
  float: left;
}

#panel-center .option {
  border-bottom: 1px solid rgb(34, 34, 34);
  box-shadow: -2px 0px 2px 0px #575757;
	line-height: 55px;
  margin-top: 1px;
  cursor: pointer;
}

#panel-center .option:hover {
  background-color: rgba(0, 0, 0, 0.10);
}

#panel-center .option.selected {
  background-color: rgba(0, 0, 0, 0.10);
}


/* ICONS */


#panel-center .option .icon {
  margin: 0px 20px;
}

.icon {
  background: url('icons.png') 0 0 no-repeat;
  padding: 6px 0px 7px 32px;
}

.option.selected .icon {
  background-image: url('icons-over.png');
}

.i-general {
  background-position: -539px -247px;
}

.i-calls {
  background-position: -385px -309px;
}

.i-sms {
  background-position: -846px -308px;
}

.i-contacts {
  background-position: -924px -494px;
}

.i-location {
  background-position: -693px 0px;
}

.i-history {
  background-position: -77px 0px;
}

.icon-small {
  background: url('icons-small.png') 0 0 no-repeat;
  padding-left: 19px;
}

.icon-small:hover {
  background-image: url('icons-small-over.png');
}

#panel-top .icon-small,
#panel-bottom .icon-small {
  cursor: pointer;
  float: right;
  margin-top: 28px;
  padding: 9px;
  margin-right: 12px;
}

.is-wheel {
  background-position: -89px -73px;
}

.is-edit {
  background-position: -89px -323px;
}

/* END - ICONS */

#main {
  margin: 15px 40px 0px 40px;
  float: left;
}

.page-name {
  font-size: 24px;
  font-weight: 900;
  border-bottom: 1px solid rgb(224, 224, 224);
  color: #555459;
  line-height: 40px;
  padding-bottom: 16px;
}

.page-data {
  overflow-y: auto;
}

/* GENERAL */

.empty-data {
  margin-top: 30px;
  color: #555459;
}

.info-field {
  padding-top: 40px;
  color: #555459;
}

.info-field .icon-small {
  cursor: pointer;
  margin-left: 4px;
  position: relative;
  top: 1px;
}

.info-key {
  background-color: rgb(240, 240, 240);
  padding: 6px 13px;
  border-radius: 5px;
  margin-right: 5px;
}

#editing-name input[type=text] {
  background: white !important;
  border: 1px solid #DDD;
  color: #555459 !important;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Lato',sans-serif;
  -webkit-appearance: none;
  vertical-align: bottom;
  height: 28px;
  position: relative;
  top: 6px;
  padding: 0px 12px;
  color: #555459;

  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  border-radius: .25rem;
}

a.button {
  color: white;
  text-decoration: none;
  background-color: #428bca;
  padding: 12px 30px;
  font-size: 16px;
  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  border-radius: .25rem;
  cursor: pointer;
}

a.button:hover {
  background-color: #357ebd;
}

a.button.gray {
  background-color: #E6E6E6;
  color: #555459;
}

a.button.gray:hover {
  background-color: #E0E0E0;
}

.set-new-name {
  position: relative;
  top: 1px;
  margin-left: 6px;
  padding: 6px 25px 5px 25px !important;
}

/* CALLS */

.call-tag {
  height: 51px;
  padding: 12px 0px;
  border-bottom: 1px solid rgb(245, 245, 245);
}

.call-tag .call-kind {
  float: left;
  margin-right: 10px;
}

.call-tag .call-left {
  float: left;
}

.call-tag .call-name {
  color: #555459;
  font-size: 18px;
  line-height: 27px;
}

.call-tag .call-name a {
  color: #555459;
  text-decoration: none;
}

.call-tag .call-name a:hover {
  text-decoration: underline;
}

.call-tag .call-phone {
  color: rgb(173, 173, 173);
  font-size: 14px;
}

.call-tag .call-right {
  float: right;
  color: rgb(173, 173, 173);
  font-size: 14px;
  margin-right: 15px;
  width: 140px;
}

.call-tag .call-date {
  line-height: 27px;
}

/* SMS */

.sms-tag {
  padding: 15px;
  border-bottom: 1px solid rgb(245, 245, 245);
}

.sms-tag .sms-title span.sms-name {
  color: #555459;
  font-size: 16px;
  font-weight: 900;
}

.sms-tag .sms-title span.sms-date {
  color: #C5C5C5;
  font-size: 14px;
  margin-left: 10px;
}

.sms-tag .sms-body {
  color: #8F8F8F;
  font-size: 16px;
  line-height: 22px;
  padding-top: 6px;
}

.sms-tag.inbox {
  background-color: white;
}

.sms-tag.outbox {
  background-color: rgb(239, 255, 239);
}

.page-name select {
  position: relative;
  top: -5px;
  left: 24px;
}

/* POPUP MENU */

.menu.open {
  display: block;
}

.menu {
  display: none;
  background-color: white;
  position: absolute;
  color: #555459;
  z-index: 200;
  font-size: .95rem;
  border: 1px solid #DDD;
  min-width: 245px;
  left: 210px;

  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  border-radius: .25rem;

  -webkit-box-shadow: 0 2px 10px rgba(64,54,63,0.5);
  -moz-box-shadow: 0 2px 10px rgba(64,54,63,0.5);
  box-shadow: 0 2px 10px rgba(64,54,63,0.5);
}

#menu-user {
  bottom: 60px;
}

#menu-device {
  top: 60px;
}

.menu ul {
  margin: 0;
  padding: 0;
}

.menu ul li {
  line-height: 30px;
  list-style: none;
}

.menu ul li.divider {
  line-height: 0;
  border-bottom: 2px solid #f2f2f5;
}

.menu ul li a {
  display:block;
  background: white;
  color:#645563;
  font-weight:400;
  text-decoration:none;
  padding:.3rem 1.4rem .3rem 2.5rem;
  overflow:hidden;
  white-space:nowrap;
  border-bottom:1px solid white;
  cursor: pointer;
}

.menu ul li:hover a {
  background: #439fe0;
  border-bottom: 1px solid #2a80b9;
  color: white;
  text-decoration: none;
  overflow: hidden;
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

/* SIGN */

.sign {
  background: url("bg.png");
  height: 100%;
}

.sign h2 {
  margin: 0;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
}

.sign .centered {
  margin: 0 auto;
  width: 480px;
  color: white;
  padding-top: 150px;
}

.sign .centered-vertical {
  background-color: rgba(19, 19, 19, 0.12);
  border-radius: 20px;
  padding: 40px;
}

.oposite {
  position: absolute;
  background-color: transparent;
  right: 50px;
  top: 50px;
  border: 1px solid white;
  padding: 8px 0px;

  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  border-radius: .25rem;
}

.oposite a {
  font-size: 1rem;
  font-weight: 700;
  padding: .5rem 1.25rem;
  font-size: 1rem;
  color: white;
  text-decoration: none;
}

.oposite a:hover {
  background: white;
  color: #555459 !important;
  text-shadow: none;
}

.logo {
  position: absolute;
  left: 50px;
  top: 50px;
  color: rgb(189, 189, 189);
  font-size: 30px;
}

.sign input[type=text],
.sign input[type=email],
.sign input[type=password] {
  background: white !important;
  border: 0;
  color: #555459 !important;
  font-weight: 700;
  font-size: 1.1rem;
  font-family: 'Lato',sans-serif;
  -webkit-appearance: none;
  vertical-align: bottom;
  padding: 15px;
  width: 370px;
  margin-top: 20px;

  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  border-radius: .25rem;
}

textarea:focus, input:focus{
  outline: 0;
}

.sign input[type=submit] {
  margin-top: 20px;
  background-color: #428bca !important;
  color: white !important;
  font-weight: 500;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  -webkit-appearance: none;
  vertical-align: bottom;
  padding: 15px;
  width: 400px;
  cursor: pointer;
  border: 0;

  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  border-radius: .25rem;
}

.sign input[type=submit]:hover {
  background-color: #357ebd !important;
}

.sign input[type=checkbox] {
  margin-top: 20px;
}

.forgot {
  margin-top: 20px;
}

.forgot a {
  color: white;
  text-decoration: none;
}

.forgot a:hover {
  text-decoration: underline;
}


/* HOME PAGE */

#section1 {
  background: url("bg.png");
  height: 821px;
  text-align: center;
}

#section1 .home-title {
  font-weight: 700;
  font-size: 6rem;
  color: white;
  padding: 100px 0 20px 0;
}

#section1 .home-subtitle {
  margin: 0 auto;
  width: 800px;
  font-weight: 500;
  font-size: 1.5rem;
  color: white;
}

#section1 .home-button {
  margin: 50px 0 65px 0;
}

#section1 .home-button a {
  color: white;
  text-decoration: none;
  background-color: #428bca;
  padding: 12px 30px;
  font-size: 1.2rem;
  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  border-radius: .25rem;
}

#section1 .home-button a:hover {
  background-color: #357ebd;
}

#section1 .home-image img {
  width: 800px;
  -webkit-box-shadow: -8px -8px 11px -5px rgba(0, 0, 0, 0.34), 10px 0px 11px -5px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: -8px -8px 11px -5px rgba(0, 0, 0, 0.34), 10px 0px 11px -5px rgba(0, 0, 0, 0.34);
  box-shadow: -8px -8px 11px -5px rgba(0, 0, 0, 0.34), 10px 0px 11px -5px rgba(0, 0, 0, 0.34);
}

#section2 {
  background: white;
  height: 650px;
  text-align: center;
  margin-top: 50px;
  border-bottom: 1px solid gray;
}

#section3 .disclarimer-title,
#section3 .install-title,
#section2 .use-cases-title {
  font-size: 3rem;
  font-weight: 300;
  color: #555459;
  margin-bottom: 50px;
}

#section2 .use-cases {
  margin: 0 auto;
  width: 800px;
}

#section2 .use-cases .section-a,
#section2 .use-cases .section-b {
  height: 260px;
}

#section2 .use-cases .section-a .center-circle {
  margin: 0 100px;
}

#section2 .use-cases .section-b .left-circle {
  margin-left: 150px;
}

#section2 .use-cases .section-b .right-circle {
  margin-left: 100px;
}

#section2 .use-cases .use-case {
  width: 200px;
  float: left;
  font-size: 16px;
  font-weight: 300;
}

#section2 .use-cases .use-case img {
  border-radius: 100px;
}

#section3 {
  background: white;
  height: 650px;
  text-align: center;
  margin-top: 50px;
  border-bottom: 1px solid gray;
}

#section3 .install-buttons {
  margin-bottom: 50px;
  padding-top: 20px;
}

#section3 .install-buttons a {
  color: white;
  text-decoration: none;
  background-color: #428bca;
  padding: 12px 30px;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 0 10px;

  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  border-radius: .25rem;
}

#section3 .install-buttons a:hover {
  background-color: #357ebd;
}

#section4 {
  background: white;
  height: 220px;
  text-align: center;
  margin-top: 50px;
}

#section4 .disclaimer,
#section4 .get-in-touch,
#section4 .made-with-love {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 300;
  color: #555459;
}

#section4 .get-in-touch {
  font-size: 18px;
}

#section4 .get-in-touch a {
  color: #555459;
}

#section4 .disclaimer {
  font-size: 18px;
  margin: 0 auto;
  width: 800px;
}

/* LOCATION */

.location-name {
  color: #555459;
  font-size: 18px;
  line-height: 47px;
  float: left;
}

.location-button {
  float: left;
  margin: 13px 20px;
}

.location-button a {
  padding: 6px 12px;
}

#main .page-name input[type=text] {
  margin-left: 20px;
  padding: 8px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  border: 1px solid rgb(221, 221, 221);
  width: 76px;
  
  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  border-radius: .25rem;
}